body h1 {
	color: #520e25;
}
.h5Modal {
	text-align: left;
}
body {
	color: #520e25;
}
.h1, h1 {
    font-size: 30px;
}
.title-color {
    color: #520e25;
}
label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
  color: #520e25;
}
.table-options li {
	list-style-type: none;
	display: inline;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover  {
	background-color: #520e25;
}

.nav-justified>li>a {
	color: #520e25;
}

.panel-heading {
	background-color: #8f2041 !important; 
	color: #fff !important;
}

.panel-body {
	background-color: #ffffff;
}

.panel-dark-purple {
	background-color: #520e25;
}

.panel-dark-purple-bordertop {
	border-top-color:  #520e25;
}

.bg-dark-purple {
	background-color: #520e25;
}

.dark-purple {
	color: #520e25;
}

.bg-purple {
	background-color: #8f2041;
}


.purple {
	color: #8f2041;
}


.panel {
	border-radius: 0px;
}
.panel a {
	color: #fff;
}

.panel a:hover {
	color: #8f2041;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.inst-actions {
	list-style-type: none;
}

.inst-actions li {
	display: inline;
}

.form-control {
			background-color: #fff;
			color: #520e25;
		}