
 body {
    overflow-x: hidden;
    background-color: #ffffff;
 }

.table {
    color: #520e25;
    font-size: 12px;
}
.btn-purple {
    color: #fff;
    background-color: #8f2041;
    border-color: #b62953;
}

.btn-purple:hover {
    color: #fff !important;
    background-color: #b62953 !important;
    border-color: #8f2041 !important;
}

.btn-purple:focus {
    color: #fff;
}

.btn-dark-purple {
    background-color: #520e25;
    border-color: #a31d4b;
    color: #fff;
}

.btn-dark-purple:hover {
    background-color: #a31d4b !important;
    border-color: #520e25 !important;
    color: #fff !important;
}

.btn-dark-purple:focus {
    color: #fff !important;
}
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-logo {
    /*margin-left: 3em;*/
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.user-welcome {
    /*margin-left: 2.5em;*/
    color: #fff;
}

.sidebar-img {
    margin-top: 1em;
    margin-left: 5.5em;
    margin-bottom: 1em;
}
/* Sidebar Styles */
#sidebar-wrapper {
    background-color: #520e25;
}

.sidebar-nav {
    width: 250px;
}

.sidebar-nav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.5s;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: #8f2041;
    margin-bottom: 2px;
}

.sidebar-nav a:hover, .offcanvas a:focus{
    border-left-style: solid;
    border-left-width: 30px;
    background-color: #e7e7e7;
    color: #8f2041;
}
.sidebar-nav>ul>li.active>a {
    border-left-style: solid;
    border-left-width: 30px;
    background-color: #e7e7e7;
    color: #8f2041;
}
.sidebar-btns {
  /*text-align: center;*/
  margin-top: 10px;
  margin-bottom: 1em;
}

.sidebar-btns .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 0px;
}

.sidebar-btns .btn:last-child {
  margin-right: 0px;
}

.sidenav-footer {
    color: #fff;
    margin-top: 6em;
    /*margin-left: 4em;*/
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}