.navbar-default {
	background-color: #262626;
}


.navbar-default .navbar-brand {
    font-family: "Brush Script MT", cursive;
    color: #E63054;
    
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #E63054;
    font-family: "Brush Script MT", cursive;
}

.navbar-default .navbar-nav > li > a{

  color:#fff;
}

.navbar-default .navbar-nav > li > a:hover , .navbar-default .navbar-nav > li > a:focus{
  color:#fff;
  background-color: #E63054;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.intro-heading {
    font-family: "Brush Script MT", cursive;
    color: #E63054;
}

body {
	overflow-x: hidden;
	background-color: #333333;
	color: #fff;
}

.title-color {
	color: #E63054;
}

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  color: #E63054;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
  	color: #E63054;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Brush Script MT", cursive;
}
section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.services-menu ul {
	list-style-type: none;    
}

.services-menu ul li  {
	margin-right: 15px;
	text-align: center;
	display: inline;
}

.btn-temp {
	color: #fff;
	background-color: #E63054;
}

.btn-temp:hover, .btn-temp:focus{
	color: #E63054;
	background-color: #fff;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aboutus-logo-anim:hover {
	margin-bottom: .2em;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aboutus-logo {
	color: #E63054;
}

#gallery .gallery-item {
  margin: 0 0 15px;
  right: 0;
}
#gallery .gallery-item .gallery-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#gallery .gallery-item .gallery-link .gallery-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#gallery .gallery-item .gallery-link .gallery-hover:hover {
  opacity: 1;
}
#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content i {
  margin-top: -12px;
}
#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content h3,
#gallery .gallery-item .gallery-link .gallery-hover .gallery-hover-content h4 {
  margin: 0;
}
#gallery .gallery-item .gallery-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#gallery .gallery-item .gallery-caption h4 {
  text-transform: none;
  margin: 0;
}
#gallery .gallery-item .gallery-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #262626; 
}
footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #E63054;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fff;
  color: #E63054;
}

footer ul.quicklinks a {
	color: #fff;
}

footer ul.quicklinks a:hover  {
	color: #E63054;
	text-decoration: none;
	border-bottom-style: solid;
	border-width: 5px;
	-webkit-transition: all .60s;
	-moz-transition: all .60s;
	transition: all .60s;
}
